
.idea/
.gradle/
**/build
**/classes
**/out/
**/bin
**/gen

.classpath
.project
.settings/

src/main/java/com/versaligo/db
src/main/groovy/
src/main/webapp/
src/test/

dump.rdb
versaligo_db_model.mwb.bak



